<h1>Home</h1>
<h4>本日の達成率</h4>
<h5>80%</h5>
<p>内訳：10件中8件達成</p>
<h4>ToDo種類別数</h4>
<%= pie_chart({"業務"=>200, "IT関連"=>80, "スポーツ関連"=>25, "人財業界関連"=>15}) %>
<h4>ToDo達成数</h4>
<%= column_chart({"2020/9/21"=>4, "2020/9/22"=>8, "2020/9/23"=>15, "2020/9/24"=>50, "2020/9/25"=>25}) %>
<h4>メモ種類別数</h4>
<%= bar_chart({"学習方法"=>4, "業務"=>8, "娯楽"=>15, "IT"=>100, "スポーツ"=>25}) %>