<div class="col s8" >
  <h5>メモ一覧</h5>
  <div class="divider"></div>
  <div class="memo-card">
    <% @index.each do |m| %>
      <div class="row">
        <div class="col s11">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= m.category %></span>
              <p><%= m.content %></p>
            </div>
            <div class="card-action">
              <a href="#">編集</a>
              <a href="#">削除</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>